<div class="col-md-8 blog-main">

  <h1><%= @topic.title  %></h1>

  <% if logged_in? :admin %>
    <%= link_to "Edit", edit_topic_path(@topic) %> |
    <%= link_to "Delete", @topic, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>

  <br />

  <%= paginate @blogs %>

  <%= render @blogs %>

  <%= paginate @blogs %>
</div>
