<h1>Portfolio items</h1>

<%= link_to "Create New Portfolio Item", new_portfolio_path %>

<% @portfolio_items.each do |portfolio_item| %>
  <h2><%= portfolio_item.title %></h2>
  <h3><%= portfolio_item.subtitle %></h3>
  <%= link_to "Edit this Portfolio Item", edit_portfolio_path(portfolio_item) %>
  <p><%= portfolio_item.body %></p>
  <%= image_tag portfolio_item.thumb_image %>
<% end %>
