<div class="app-card-container">
  <div class="card">

    <h1>About me</h1>

    <hr>

    <div class="row">
      <div class="col-md-4">
        <%= image_tag "linked_in_profile.jpg", width: 300, alt: "profile image" %>

        <div class="skills">
          <% @skills.each do |skill| %>
            <div class="skill">
            <h4><%= skill.title %></h4>
              <div class="progress">
                <div class="progress-bar progress-bar-stripped bg-warning"
                     role="progressbar" aria-valuenow="<%= skill.percent_utilized %>"
                     aria-valuemax="100" style="width: <%= skill.percent_utilized %>%;">
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>

      <div class="col-md-8">
        <p>
          For as long as I can remember, I have been excited by challenges and
          loved solving problems. This driving force lead me to a BA in
          Psychology and a MPH in Epidemiology (the study of diseases...not skin
          ;p) in pursuit of a research career. After a few successful years,
          having published 8 papers and playing meaningful roles in successful
          studies, I found myself feeling unfulfilled. Luckily for me, my last
          research study lead me straight to a new found passion: software
          development.
        </p>
        <p>
          The <%= link_to "study", "https://academic.oup.com/schizophreniabulletin/article/40/6/1244/1854428/Feasibility-Acceptability-and-Preliminary-Efficacy", target: "_blank", style: "color: blue" %>
          researched the use of a mobile intervention in people with
          Schizophrenia. As the study coordinator, I was in direct contact with
          the people developing the mobile application at the Center for
          Behavioral Intervention Technologies (CBITs) at Northwestern University.
          In fact, among my responsibilities in the study, I was in charge of
          the quality control of the application. I was tasked with testing the
          app to confirm the features were implemented as expected and I really
          enjoyed it. Writing tests was soon the one thing I liked about my work.
          When the opportunity became available, I moved into CBITs in Quality
          Control.
        </p>
        <p>
          At CBITs, I was in charge of the Quality Control for the majority of
          the applications that were being built. This was a large assortment of
          web and mobile apps ranging from very small feature sets to very large
          ones. I started out manually testing the applications but, due to the
          workload, that became unbearable. I began writing automated test
          suites and <strong>BAM!</strong> I was hooked. There were so many
          challenges to face and so many problems to solve. It was very exciting.
        </p>
        <p>
          Over time I realized that I really liked the development process. Due
          to needs in the department, not only was I running QC but I was also
          doing a lot of technical project management. Working closely with the
          developers in all aspects of the development process, it became
          obvious to me how much fun I was having and how much I truly enjoyed
          development. Through determination, motivation, and largely self-taught,
          I started to excel at writing test suites in Ruby. I took a few online
          classes here and there, to round out my knowledge, and when the time
          came I jumped at the opportunity to take a Developer position with CBITs.
        </p>
        <p>
          Since then, I have taken more online courses and completed a 6 month
          bootcamp at Northwestern University. I have written many apps in Ruby
          on Rails (including this one!) and Ionic 2. I have also written
          applications using Node and Express while interchanging mySQL, Mongo,
          Handlebars, and React. At the moment, if you were to ask me what I
          would write my next app in, it would be a Ruby on Rails backend with a
          React frontend.
        </p>
        <p>
          I am truly excited about the opportunities that lay ahead of me in
          this field and I cannot wait to see what I will build next.
        </p>

        <p>
          <button class="btn btn-primary" type="button" data-toggle="collapse"
                  data-target="#jobs" aria-expanded="false" aria-controls="jobs">
            Employment History
          </button>
          <button class="btn btn-primary" type="button" data-toggle="collapse"
                  data-target="#education" aria-expanded="false" aria-controls="education">
            Education
          </button>
        </p>

        <p>
          <div class="collapse" id="jobs">
            <hr>
            <div class="card card-block">
              <p><strong>Test Engineer</strong> at <em>ReviewTrackers</em></p>
              <p class="text-muted">2017 - Present</p>
            </div>
            <div class="card card-block">
              <p><strong>Software Developer</strong> at <em>Center for Behavioral Intervention Technologies</em></p>
              <p class="text-muted">2016 - 2017</p>
            </div>
            <div class="card card-block">
              <p><strong>Quality Control Manager</strong> at <em>Center for Behavioral Intervention Technologies</em></p>
              <p class="text-muted">2014 - 2016</p>
            </div>
            <div class="card card-block">
              <p><strong>Project Coordinator</strong> at <em>Thresholds</em></p>
              <p class="text-muted">2012 - 2014</p>
            </div>
          </div>


          <div class="collapse" id="education">
            <hr>
            <div class="card card-block">
              <p><strong>Northwestern University</strong> Coding Bootcamp, <em>Full-Stack Web Development</em></p>
              <p class="text-muted">2016 - 2017</p>
            </div>
            <div class="card card-block">
              <p><strong>University of Toledo</strong> Master of Public Health, <em>Epidemiology</em></p>
              <p class="text-muted">2009 - 2010</p>
            </div>
            <div class="card card-block">
              <p><strong>University of Toledo</strong> Bachelor of Arts, <em>Psychology</em></p>
              <p class="text-muted">2004 - 2008</p>
            </div>
          </div>
        </p>
      </div>
    </div>

  </div>
</div>
